*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-link{
    font-size: 1.3em;
    color:black !important;
    cursor: pointer;
    margin: 0 2em;
}
.conection{
    font-size: 1em;
    vertical-align: center;
    color: rgb(155, 154, 154) !important;
    cursor: unset;
}
.image{
    width: 5em;
}
.black{
    background-color: black !important;
}
.margen{
    padding: 0 !important;
    margin: 0 !important;
}
.nav-item{ // NO FUNCIONA
  border-bottom: 2px transparent;
  padding-bottom: 0.5em;
}
.nav-item:hover{
  border-bottom: 2px solid black;
  padding-bottom: 0.5em;
}

/////// INTENTO DE HACER UN HOVER EN EL DROPDOWN
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}

// DATOS CABECERA

.wrapper{
  padding: 0.5em 5%;
}
#dataHeader{
  display: flex;
  justify-content: space-between;
  background-color: #751710;
  color: white;
  font-size: 14px;
  align-items: center;
}
.networks{
  display: flex;
  justify-content: flex-end;
  width: 10%;
}
.networks a{
  width: 35px;
  height: 35px;
}
.iconNetwork{
  width: 100%;
}
.instagram{
  background: url(/../assets/images/instagram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.facebook{
  background-image: url(/../../assets/images/facebook.png);
  background-size: contain;
  background-repeat: no-repeat;
}

//MENU PRINCIPAL

.menu2{
  background-color: white !important;
  display: flex;
  justify-content: space-around;
}
.menuPrincipal{
  font-size: 14px;

}

//BUSCADOR
#navbarSupportedContent{
  justify-content: flex-end;
}