*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-link{
    font-size: 1.3em;
    color:black !important;
    cursor: pointer;
    margin: 0 2em;
}
.conection{
    font-size: 1em;
    vertical-align: center;
    color: rgb(155, 154, 154) !important;
    cursor: unset;
}
.image{
    width: 4.5em;
}
.black{
    background-color: black !important;
}
.margen{
    padding: 0 !important;
    margin: 0 !important;
}
.nav-link{
  position: relative;
  padding-bottom: 0.5em;
}
.nav-link:after{
  content: " ";
  position: absolute;
  top: calc(50% + 1.15em);
  left: 0;
  width: 100%;
  border-top-style: solid;
  transform: scaleX(0);
  transition: transform .2s ease-in-out;
}

.nav-link:hover:after{
  transform: scaleX(1);
}

.nav-item{
  position: unset;
}
// .nav-item:hover{padding-bottom: 30px;}

.nav-item:hover>.dropdown-menu{
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px 50px;
  padding: 1em;
  background-color: white !important;
  border: none;
  border-radius: none;
  left: calc(50% - 404px);
  top: calc(50% + 20px);
}
    
/////// INTENTO DE HACER UN HOVER EN EL DROPDOWN
// .dropbtn {
//     background-color: #4CAF50;
//     color: white;
//     padding: 16px;
//     font-size: 16px;
//     border: none;
//   }

//   .dropdown {
//     position: relative;
//     display: inline-block;
//   }

//   .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f1f1f1;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//   }

//   .dropdown-content a {
//     color: black;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//   }

//   .dropdown-content a:hover {background-color: #ddd;}

//   .dropdown:hover .dropdown-content {display: block;}

//   .dropdown:hover .dropbtn {background-color: #3e8e41;}

// DATOS CABECERA

.wrapper{
  padding: 0.5em 5%;
}
#dataHeader{
  display: flex;
  justify-content: space-between;
  background-color: #751710;
  color: white;
  font-size: 14px;
  align-items: center;
  height: 46px;
}
.networks{
  display: flex;
  align-items: center;
  position: relative;
  min-width: 130px;
}
.iconNetwork{
  width: 100%;
}
.instagram,.facebook,.whatsapp{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20px;
  margin: 0 .5em;
  width: 20px;
}

.instagram{background-image: url(/../assets/images/instagram.svg);}
.facebook{background-image: url(/../../assets/images/facebook.svg);}
.whatsapp{background-image: url(/../../assets/images/whatsapp2.svg);}


.form-inline{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.form-inline input{
  flex:1 0 auto;
}

//BUSCADOR

#navbarSearch{
  justify-content: flex-end;
  width: 100%;
  // display: none !important;
}
.form-control{
  padding: 0.5em 5%;
  height: initial;
  font-size: 13px;
  border: 0;
}
.btn{
  padding: 0.5em 3%;
  background-color: #A79B3E;
  border: 0;
  color: white;
  font-size: 13px;
  
}
#glass{
  cursor: pointer;
  position: absolute;
  right: 0;
}

//MENU PRINCIPAL

.menu2{
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 50px;
  z-index: 1000;
  
}
.menuPrincipal{
  font-size: 14px;
}

