<!-- 1º MENU - DATOS CABECERA, REDES Y BUSCADOR -->
<div id="dataHeader" class="wrapper">
  <address class="data">
    <p>C/ Toledo 6, 19002 - Guadalajara | Tlfno: 949407054 / 623463810.</p>
  </address>
  <!-- REDES SOCIALES Y BUSCADOR-->
  <div autosize class="networks" [style.width.%]="width" [style.transition] ="transition">
    <a href="https://www.instagram.com/granosinmas_guadalajara/?hl=es" target=_blank class="iconNetwork instagram"
      [hidden]="!isShow"></a>
    <a href="https://www.facebook.com/granosinmas.guadalajara" target=_blank class="iconNetwork facebook" [hidden]="!isShow"></a>
    <a href="https://api.whatsapp.com/send?phone=+34653563611" target=_blank class="iconNetwork whatsapp"
      [hidden]="!isShow"></a>
    <!-- BUSCADOR DE PRODUCTOS -->
    <div id="navbarSearch" [hidden]="isShow">
      <!--CLASE QUE MOLESTABA: class="collapse navbar-collapse"  -->
      <form class="form-inline my-2 my-lg-0" (submit)="searchProducts($event)">
        <!-- Le paso el evento submit para que haga la función searchProduct y le paso el evento como parámetro-->
        <input class="form-control mr-sm-2" type="search" placeholder="Encuentra tu producto" aria-label="Search"
          name="search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
    <i id="glass" class="material-icons" (click)="toggleDisplay()">{{icon}}</i>
  </div>
</div>

<!-- 2º MENU -->
  <!-- MENU HAMBURGUESA -->
<button *ngIf="mobile" (click)="onMenuToggle($event)" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<nav class="navbar navbar-expand-lg wrapper menu2" appStickyHeader>

  <!-- LOGO -->
  <a routerLink="/"><img src="assets/images/logo.jpeg" alt="Logo de Grano Sin Mas" class="image" (click)="onActivate($event)"></a>

  <!-- MENU PRINCIPAL -->
  <div class="navbar-collapse menuPrincipal" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" (click)="onActivate($event)">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active-link" >Inicio<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link">Quienes somos<span
            class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLinkActive="active-link" data-toggle="modal">Productos<span
            class="sr-only"></span></a> <!--Clase que saca el dropdown con un click: data-toggle="dropdown"-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- Creamos un div transparente que contenga el menu inferior, de esta forma no perdemos el hover en el li-->
          <div class="fakeHover">
            <!-- MENU DINÁMICO DE PRODUCTOS POR CATEGORÍAS ORDENADO DE MAYOR A MENOR SEGUN EL CODE: -->
            <div *ngFor="let category of categories | sort; index as i">
              <a class="dropdown-item" routerLink='/{{category.url}}'>
                <p class="{{category.name}}">{{category.name}}</p>
              </a>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/store" routerLinkActive="active-link">Tienda<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" *ngIf="admins.includes(userService['user']['role'])" href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administración
        </a>

        <!-- MENU DE ADMINISTRACION (Oculto para los clientes): -->
        <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/addproducts">Productos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/addcategories">Categorías</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/addstores">Almacén</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/orders">Pedidos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/users">Usuarios</a>
        </div> -->
      </li>
    </ul>
  </div>



  <!-- INFO DE USUARIO Y BOTON DE LOGIN -->
  <!-- <div id="userLogin">
    <div class="LoggedIn row" *ngIf="userService['user']['id']"> -->
  <!--Añado un div para decirle que todo lo que haya dentro solo aparecerá cuando estemos logados. Con la directiva ngIf le indico cuando tiene que mostrarlo. Le estoy preguntando si hay un id, y si lo hay entonces es true, y si es true es que está logado y entonces nos muestra el div con todo su contenido. Si no es así, no lo mostrará. -->
  <!-- <div class="nav-item">
        <a class="nav-link conection"> {{userService['user']['name']}}</a> -->
  <!-- Hay dos formas de ponerlo: "userService['user']['name']" o "userService.user.name" ==> a veces funciona una y a veces otra. Son dos sintaxis distintas para hacer lo mismo-->
  <!-- </div>
      <div class="nav-item">
        <a class="nav-link" routerLink="" (click)=logout()>
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Desconectar</button>
        </a>
      </div>
      <button class="btn my-2 my-sm-0" type="submit"><a class="nav-link botonCesta " routerLink="/shoppingcart"><i
            class="fas fa-shopping-cart fa-lg"></i></a></button>
    </div>

    <div class="notLoggedIn row" *ngIf="!userService['user']['id']"> -->
  <!--Añado un div para decirle que lo que haya dentro solo aparecerá cuando no estés logado. Con la directiva ngIf le indico cuando tiene que mostrarlo. Igual que el de antes pero al revés. -->
  <!-- <div class="nav-item">
        <a class="nav-link conection" routerLink="/login">
          <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Conectar</button>
        </a>
      </div>
    </div>
  </div> -->

</nav>
