menu{
    
    
}
.nav-link{
    font-size: 1.3em;
    color:white !important;
    cursor: pointer;
    margin: 0 2em;
}
.conection{
    font-size: 1em;
    vertical-align: center;
    color: rgb(155, 154, 154) !important;
    cursor: unset;
}
.image{
    width: 5em;
    margin-left: 20em;
}
.black{
    background-color: black !important;
}
.margen{
    padding: 0 !important;
    margin: 0 !important;
}
.nav-item:hover{
    background-color: black;
}