.wrapper{
    background-color: #f1d7a3;
    padding: 2.5em 15% 3.5em 15%!important;
}
h1,h2,p{
    text-align: center;
}
h1,p{
    color:#751710;
}
h2{
    font-size: 1.2rem;
    color: #6c9d2a;
}
#categories{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryRow{
    width: 25%;
}

.category a{
    display: flex;
    justify-content: center;
}

.categoryName{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1em;
    color:#751710;
}

.imageCategory{
    width: 95%;
    filter: hue-rotate(336deg);
    width: 100vw;
    height: 45vh;
    object-fit: cover;
}
@media only screen and (max-width:768px){
    .wrapper{
      padding: 1em 5%!important;
    }
    #categories{
        flex-direction: column;
    }
    .categoryRow{
        width: 100%;
    }
    .imageCategory{
        height: 10vh;
    }
    .categoryName{
        margin: .5em 0;
    }
  }