<div class="container">
  <div class="herobanner" *ngIf="product" style="background-image: url({{product.image_path}})">
    <h1>{{product.name}}</h1>
  </div>
  <div class="product" *ngIf="product">
    <div class="details">
      <div class="info1">
        <p>{{product.description}}</p>
        <div class="descriptionContent">
          <img src="{{product.image_path}}" alt="Imagen del producto" class="image">
          <div class="data">
            <h5>Recomendaciones:</h5>
            <p>{{product.recommendations}}</p>
            <p><strong>Precio:</strong> {{product.price}} €/kg</p>
            <p class="packed"><strong>Trae tu propio envase y ahorra:</strong> {{product.packedPrice}} €</p>
          </div>
        </div>
        <div class="compartir">
          <p>
            <a href="https://www.facebook.com/sharer/sharer.php" target="_blank">facebook</a>
          </p> 
         </div>

      </div>
    </div>
  </div>
</div>