
<div class="filterBox">
    <h6>Filtra tu busqueda</h6>
    <ul>
    <li>
        <input type="radio" id='ascendente' name='price'>
        <label for="price">Precio ascendente<span>(€ - €€€)</span></label>
    </li>
    <li>
        <input type="radio" name='price'>
        <label for="price">Precio descendente<span>(€€€ - €)</span></label>
    </li>
    <li>
        <input type="radio" name='nameProduct'>
        <label for="nameProduct">Alfabético ascendente<span>(A - Z)</span></label>
    </li>
    <li>
        <input type="radio" name='nameProduct'>
        <label for="nameProduct">Alfabético descendente<span>(Z - A)</span></label>
    </li>
    </ul>
</div>