
<div class="filterBox">
    <h6>Filtra tu busqueda</h6>
    <ul>
    <li>
        <input type="checkbox" id='ascendente'>
        <label for="">Precio ascendente<span>(€ - €€€)</span></label>
    </li>
    <li>
        <input type="checkbox">
        <label for="">Precio descendente<span>(€€€ - €)</span></label>
    </li>
    <li>
        <input type="checkbox">
        <label for="">Alfabético ascendente<span>(A - Z)</span></label>
    </li>
    <li>
        <input type="checkbox">
        <label for="">Alfabético descendente<span>(Z - A)</span></label>
    </li>
    </ul>
</div>