.container{
    margin: 150px auto;
    min-width: 80%;
}
input.ng-invalid.ng-touched{
    outline:unset;
    border: solid red;
}
.required.ng-valid{
    
    border: solid green;
}
.red, p{
    color: red;
}
// input.ng-dirty{
//     border: solid green;
// }
// input.ng-pending{
//     border: transparent black;
// }