<div class="users" *ngIf="userService['users']">
    <div class="user" *ngFor="let user of userService['users']">
        <p>Email: {{user.email}}</p>
        <p>Nombre: {{user.name}}</p>
        <p>Apellidos: {{user.surnames}}</p>
        <p>Dni: {{user.dni}}</p>
        <p>Dirección: {{user.address}}</p> 
        <p>Teléfono: {{user.phone}}</p>
        <p>Observaciones: {{user.observations}}</p>
        <p>Role: {{user.role}}</p>
        <p>Fecha de alta: {{user.createdAt | dateEsp}}</p>
        <p>Última modificación: {{user.updatedAt | dateEsp}}</p>
        <hr>
        <div class="orders">  <!--NO FUNCIONA, esta sin hacer-->
      
            <div class="order" *ngFor="let order of userService.users['Orders']">
                
            </div>
        </div>
        <hr>
    </div>
</div>