.wrapper{
    background-color: #eee;
    padding: 2.5em 15% !important;
}
h1,h2{
    text-align: center;
}
h1{
    color:#6f5036;
}
h2{
    font-size: 1.2rem;
    color: #fd9b67;
}
p{
    text-align: justify;
    margin-top: 1.2em;
}
