<div class='container'>
    <div class="herobanner">
        <h1>Grano Sin Más</h1>
    </div>
    <div class="wrapper">
        <div class="row">
            <div class="column">
                <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
            </div>
        </div>
        <div class="row reverseOrder">
            <div class="column">
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
                <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
            </div>
        </div>
    </div>
</div>