// VISTAS DE CATEGORIAS:

.subcategories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: black;
  
}
.subcategory {
  background-color: whitesmoke;
  border-radius: 0em;
  box-shadow: 3px 3px 15px #0000005c;
  cursor: pointer;
  flex:1 0 30%;
  padding: 0em;
  margin: 0.5em;
  max-width: 320px;
  .productImg{
    height: 50%;
    overflow: hidden;
  }
  .productInfo{
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    padding: 1em 2em;
    h2{
      text-align: left;
    }
  }
}

.herobanner.arroces{
  background-image: url(/../../assets/images/prototipoArroz.jpg);
}

.one-third{
  padding: 2em 0 2em 2em;
  position: relative;
  text-indent: 1rem;
  &::before{
    border-left: 2px groove #00000024;
    content: "";
    height: 88%;
    left: 10px;
    position: absolute;
    width: 1px;
  }
  h3{
    color: #c2c6cad1;
    margin: 1em 0 1.2em;
    text-align: left;
    position: relative;
    &:after{
      content: "";
      border-bottom: 10px solid #c2c6cad1;
      bottom: -.7em;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }
  ul{
    color: #00000059;
    font-family: "Oswald", sans-serif;
    font-size: 1.2em;
    list-style: none;
    padding-left: 0;
    li.eyeContainer{
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.5em;
      padding-right: .5em;
      span.eye{
        display: flex;
        width: 1.5em;
      }
    }
  }
  form{
    background-color: #dee2e6;
    flex-wrap: nowrap;
    padding: 1em;
    width: 100%;
    input{
      float: left;
      font-size: .9em;
      height: 42px;
      width: 100%;
      &::placeholder{
        color: #ccc;
      }
    }
    button{
      align-items: center;
      background-color: #fe725f;
      border-color: #fe725f;
      color:white;
      display: flex;
      float: right;
      height: 40px;
      justify-content: center;
      width: 40px;
    }
  }
}
.filterBox{
  margin-top: 1em;
  font-size: .8em;

  h6{
    color: #adb0b3;
    position: relative;
  }
  input{
    border-color: #adb0b3;
  }
}