/* You can add global styles to this file, and also import other style files */
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: content-box;
// }

@import './app/colors.scss';

//ESTILOS GENERALES

body{
  font-family: 'Open Sans', sans-serif;
  color:#333;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
}

.wrapper{
  padding: 1em 15% !important;
}
.container{
  display: flex;
  justify-content: center;
  min-width: 100%;
  flex-direction: column;
  padding: 0 !important;
}
.fixed{
  position:  fixed;
  top:  46px;
}

// VISTAS DE CATEGORIAS:

.subcategories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    color: black;
    
}
.subcategory {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 0.5em;
  background-color: $colorLight;
  cursor: pointer;
}

// MATERIAL ICONS

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/////////////////////////////

//CAJA DATOS USER Y BOTÓN LOGIN - HEADER (de momento oculto)

// #userLogin{
//   padding:0 5%;
// }