<div class="container">
    <div class="herobanner"></div>
    <!--About us-->
    <div class="wrapper" id="about-us">
            <h1>Grano Sin Más</h1>
            <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</h2>
            <p>En los últimos años hemos asistido a una revolución en la venta a granel, que ha pasado de ser una moda, a ser casi una necesidad para una parte de la sociedad cada vez más consciente de que otro modelo de consumo es necesario.</p>
            <p>Ahorro, Sostenibilidad y Calidad son adjetivos que van ligados a este modelo de compra, que claramente ha vuelto para cada quedarse.</p>
            <p>En este escenario nace Grano Sin Mas, un espacio de venta a granel de alimentos de calidad que apuesta por el consumo responsable, consciente y reconfortante.</p>
            <p>Un espacio, unos productos y un modelo de venta que nos reconcilia con el medio ambiente y la alimentación saludable.</p>
    </div> 
    <app-categories-home></app-categories-home>
    <app-store></app-store>

    <!-- <img src="../../assets/images/tienda.jpg" alt="" class="img1"> -->
    <!-- <app-header></app-header>
    <app-footer></app-footer> -->

</div> 