.herobanner{
    background-image: url(/../../assets/images/background/tienda.webp);
    height: 500px;
    &::before{
        content: none;
    }
}
 .img1{
     width: 100%;
 }

 #about-us.wrapper{ 
    background-color: #eee;
    h1{ color:#6f5036; }
    h2{ color: #fd9b67; }
    p{ text-align: justify; }
}

@media only screen and (max-width:769px){
    .herobanner{
        height: 200px;
    }
}