<div class= "footer">
    <div class="up">  
        <div class="info">  
            <p>Grano sin Más C.B.</p>
            <a href="https://www.google.com/maps/place/Plaza+Fernando+Belad%C3%ADez,+2,+19001+Guadalajara/@40.6329839,-3.1658126,17z/data=!3m1!4b1!4m5!3m4!1s0xd43ab9def3ed065:0x39292c4b517270d6!8m2!3d40.6329839!4d-3.1636239" target=_blank>C/ Toledo 6, 19002 - Guadalajara.</a><br>
            <a href="mailto:granosinmas@gmail.com">granosinmas@gmail.com</a>
            <p>Tlfno: 949407054 / 623463810 (Pedidos por Whatsapp)</p>
            <p>Horario: De Lunes a viernes de 10:00 a 14:00h y de 17:00 a 20:00h. Sábados de 10:00 a 14:00h.</p>
        </div>
        <div class="networks">
            <a href="https://www.instagram.com/granosinmas_guadalajara/?hl=es" target=_blank><img src="../../assets/images/instagram.png" alt="Icono de Instagram" class="iconInsta"></a>
            <a href="https://www.facebook.com/" target=_blank><img src="../../assets/images/facebook.png" alt="Icono de Facebook" class="iconFace"></a>
        </div>
    </div>

    <div class="copyright">
        <p>@ Virginia Herrero Polo </p>
    </div>
</div>
