<div class= "footer">
    <div class="up">  
        <div class="info">  
            <h5>Grano sin Más C.B.</h5>
            <a href="https://www.google.com/maps/place/Calle+Toledo,+6,+19002+Guadalajara/@40.6264546,-3.1645399,17z/data=!3m1!4b1!4m5!3m4!1s0xd43ab73f0058f0b:0x15c230c6c417fd8c!8m2!3d40.6264505!4d-3.1623512" target=_blank class="direccion">C/ Toledo 6, 19002 - Guadalajara.</a>
            <a href="mailto:granosinmas@gmail.com" class="mail">granosinmas@gmail.com</a>
            <p>Tlfno: 949407054 / 623463810 (Pedidos por Whatsapp)</p>
            <p>Horario: De Lunes a viernes de 10:00 a 14:00h y de 17:00 a 20:00h. Sábados de 10:00 a 14:00h.</p>
        </div>
        <div class="networks">
            <a href="https://www.instagram.com/granosinmas_guadalajara/?hl=es" target=_blank class="iconNetwork instagram"></a>
            <a href="https://www.facebook.com/" target=_blank class="iconNetwork facebook"></a>
            <a href="https://api.whatsapp.com/send?phone=+34653563611" target=_blank class="iconNetwork whatsapp"></a>
        </div>
    </div>

    <div class="copyright">
        <p>@ Virginia Herrero Polo </p>
    </div>
</div>
